{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ plot }}{% endblock %}


{% block body %}

<script>
  $(document).ready(function(){
    $("#table tr").click(function(){
    if($(this).hasClass('selected'))
        $(this).removeClass('selected');
    else
        $(this).addClass('selected');
});

    $("#table-floor tr").click(function(){
        $(this).addClass('selected').siblings().removeClass('selected');
});

$('.button').on('click', function(e){
   var selectedIDs = "";
   $("#table tr.selected").each(function(index, row) {
      if(selectedIDs == "")
        selectedIDs+=$(row).find("td:first").html();
      else
      selectedIDs+=" "+$(row).find("td:first").html();
   });


    $.ajax({
        url: 'validate',
        data: {
          'poi': selectedIDs,
          'floor': $("#table-floor tr.selected td:first").html()

        },
        dataType: 'json',
        success: function (data) {
          if (data.success) {
            alert("Successfully added");
          }
        }
      });


});


});
</script>




<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-6 col-md-6 col lg-6 col xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Floor List</h3>
                        <div class="scrollable">
                            <table class="table" id="table-floor">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Plot Id</th>
                                    <th>Floor No</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for f in floor %}
                                    <tr>
                                        <td>{{ f.pk }}</td>
                                        <td>{{ f.plot_id }}</td>
                                        <td>{{ f.floor_id }}</td>
                                        <td>{{ f.description }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-6 col-md-6 col lg-6 col xs-6">


            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>POI List</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <div class="scrollable">
                        <table class="table" id="table" >
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Floor Id</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for p in Poi %}
                                <tr>
                                    <td>{{ p.pk }}</td>
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.description }}</td>
                                    <td>{{ p.type }}</td>
                                    <td>{{ p.floor_id }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                        <button name="submit" class="button" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>

                </div>

            </div>

        </div>

    </div>

</div>



<style>
    .scrollable{

    height : 200px;
    overflow : scroll;
    }

      .thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }

.selected {
    background-color: #4CAF50;
    color: #FFF;
}

td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}


.button {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 50px 0 5px;
  padding: 10px;
  font-size: 15px;
}

</style>

{% endblock %}