<html>
<head>
        {% block extrahead %}

        {% endblock %}
</head>
<body>
<div id="pageContainer">
        <div id="nav_top_right">
                {% if user.is_authenticated %}
                <p>Hi {{user.first_name}}!!!</p>
                <p><a href="/user/logout/">  Logout</a></p>
                {% else %}<p><a href="/user/login/">Login</a></p>{% endif %}
        </div>
        {% block content %}
        <div id="nav">
        <a href="upkml"> upload kml </a>
        </div>
        <a href="update"> update or change </a>

        {% endblock %}
</div>
</body>
</html>