{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ plot }}{% endblock %}


{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#">
                            <img src="/media/twitter.png" class="img-responsive">

                    </a>
                    <h1>{{ plot.name }} <small>{{ plot.description }}</small></h1>
                    <h2>{{ plot.type }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">


            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Details</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Altitude</th>
                            <th>Type</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ plot.lat }}</td>
                                <td>{{ plot.lng }}</td>
                                <td>{{ plot.alt }}</td>
                                <td>{{ plot.type }}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}